body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0b0c10;
  color: #ffffff;
  min-height: 100vh;
}

.page {
  padding-top: 10rem; /* ensures content sits below navbar */
  text-align: center;
}
